<?xml version='1.0' encoding='utf-8'?>
<manifest
    xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.mstudio.android.doome.app">

    <!-- มีสิทธิ์เข้าถึงเครือข่ายเต็มรูปแบบ -->
    <uses-permission android:name="android.permission.INTERNET"/>
	<uses-permission android:name="android.permission.ACCESS_NETWORK_STATE"/>
	<uses-permission android:name="android.permission.SYSTEM_ALERT_WINDOW" />
	<application
        android:allowBackup="true"
        android:icon="@drawable/ic_doomex"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:label="@string/app_name"

		android:configChanges="keyboard|keyboardHidden|orientation|screenLayout|screenSize|smallestScreenSize"
        android:name=".Applications">
        <activity
            android:name=".main"
			android:launchMode="singleTop"
			android:theme="@style/AppTheme.Launcher"
			android:screenOrientation="sensorPortrait"
            android:label="@string/app_name">

            <intent-filter>
                <action android:name="android.intent.action.MAIN"/>
                <category android:name="android.intent.category.LAUNCHER"/>

            </intent-filter>

        </activity>

		<activity 
            android:name="com.mstudio.android.doome.app.activity.theme"
			android:theme="@style/AppTheme"
            android:label="@string/app_name">

            <intent-filter>
				<category android:name="android.intent.category.DEFAULT"/>
			</intent-filter>

        </activity>
		<activity 
            android:name="com.mstudio.android.doome.app.activity.anime_hot"
			android:theme="@style/AppTheme"
            android:label="@string/app_name">

            <intent-filter>
				<category android:name="android.intent.category.DEFAULT"/>
			</intent-filter>

        </activity>
		<activity
			android:name=".VideoAnime"  >            
		</activity>
		<activity 
            android:name="com.mstudio.android.doome.app.activity.about"
			android:theme="@style/AppTheme"
            android:label="@string/app_name">

            <intent-filter>
				<category android:name="android.intent.category.DEFAULT"/>
			</intent-filter>

        </activity>
		<activity 
            android:name="com.mstudio.android.doome.app.activity.watch_anime"
		    android:configChanges="screenSize|orientation|screenLayout|navigation"
			android:theme="@style/watch_anime"
			android:usesCleartextTraffic="true"
			android:supportsPictureInPicture="true"
			android:exported="true"
            android:label="@string/app_name">

            <intent-filter>
				<category android:name="android.intent.category.DEFAULT"/>
			</intent-filter>

        </activity>
		<activity 
            android:name="com.mstudio.android.doome.app.activity.watch_manga"
		    android:configChanges="screenSize|orientation|screenLayout|navigation"
            android:label="@string/app_name">

            <intent-filter>
				<category android:name="android.intent.category.DEFAULT"/>
			</intent-filter>

        </activity>
		<activity android:screenOrientation="sensorPortrait"
			android:configChanges="screenSize|orientation|screenLayout|navigation"
            android:name="com.mstudio.android.doome.app.activity.read_manga"
            android:label="@string/app_name">

            <intent-filter>
				<category android:name="android.intent.category.DEFAULT"/>
			</intent-filter>

        </activity>
		<activity
			android:name="com.mstudio.android.doome.app.activity.search_activity"
			android:windowSoftInputMode="stateVisible|adjustPan">
			<intent-filter>
				<category android:name="android.intent.category.DEFAULT"/>
			</intent-filter>

		</activity>
        <activity
            android:name=".DebugActivity"
            android:screenOrientation="portrait"/>

    </application>

</manifest>

